body {
	color:black;
	background-color:white;
	background-image:url(../img/camembert.png);
	background-repeat:no-repeat;
}

.container {
	font-family : Georgia,"Times New Roman",serif;
}

h1.titre {
	font-family : -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
}